header {
  text-align: center;
}

.daCentrare {
  text-align: center;
}

#primoParagrafo {
  background-color: yellow;
  border-top: 3px solid orange;
}

main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
